@tailwind base;
@tailwind components;
@tailwind utilities;

.z-navigation {
  z-index: 30;
}

.border-primary {
  border: 1px solid rgba(126, 174, 120, 1);
}

.border-l-primary {
  border-left: 1px solid rgba(126, 174, 120, 1);
}

.border-b-primary {
  border-bottom: 1px solid rgba(126, 174, 120, 1);
}

.bg-primary {
  background-color: rgba(126, 174, 120, 1);
}

.border-secondary {
  border: 1px solid #ffffff1a;
}

.bg-secondary {
  background-color: #ffffff0d;
}

.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(12 15 11/var(--tw-bg-opacity));
}

.text-logo {
  font-size: 1.5rem;
}

.text-primary {
  color: rgba(126, 174, 120, 1);
}

.text-overline {
  font-size: .875rem;
}

.rc-slider-track {
  background-color: rgba(126, 174, 120, 1) !important;
  height: 5px !important;
}

.rc-slider-rail {
  background-color: black !important;
  border: 1px solid rgba(126, 174, 120, 1);
  height: 5px !important;
}

.rc-slider-handle {
  background-color: rgb(251 146 60) !important;
  opacity: 1 !important;
  border: none !important;
}

.rc-slider-handle-dragging {
  border: none !important;
  box-shadow: none !important;
}

.ag-theme-quartz-dark {
  --ag-background-color: black !important;
  --ag-border-color: rgba(126, 174, 120, 1) !important;
  --ag-header-background-color: black !important;
  --ag-row-hover-color: rgba(126, 174, 120, 0.5) !important;
  --ag-active-color: rgba(126, 174, 120, 0.5) !important;
  --ag-control-panel-background-color: black !important;
}